/* .custom-picker {
  position: relative;
  bottom: 0;
} */

.custom-picker .DateRangePickerInput__withBorder{
  border-radius: 6px;
  overflow: hidden;
}

.custom-picker .DateRangePicker_picker {
  
  z-index: 999;
}
