.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.interest h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(236, 161, 63);
}

.personal-interest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin-bottom: 30px;
}

.personal-interest>div {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
}

.icon {
    font-size: 24px;
    margin-right: 5px;
    color: #6cb3fa;
}

.range-container {
    display: flex;
    align-items: center;
}

.range-container input[type="range"] {
    width: 200%;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.range-container span {
    margin-left: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}