.searchBox {
  position: relative;
  max-width: 600px;
}

.searchInput {
  position: relative;
  display: flex;
  background: #bbb;
  height: 40px;

  width: 100%;
  background: #bbb;
  overflow: hidden;
  border-radius: 20px;
  justify-content: space-between;
  border: 2px solid transparent;
  z-index: 10;
  &:focus-within {
    border: 2px solid #1976d2;
  }

  & :global(.input) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: red;

    svg {
      margin: 0 10px;
    }
  }

  & input {
    height: 100%;
    flex-grow: 1;
  }

  & button {
    border-radius: 20px;
    padding: 0 20px;
    background-color: #1976d2;
    color: white;
    border: none;
  }
}

.searchDetail {
  position: absolute;
  width: 100%;
  top: 0;
  background: #c67c7c;
  padding-top: 60px;
  
  & :global(.detail) {
    
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  button {

  }

}
