.searchBox {
  max-width: 600px;
}

.searchInput {
  display: flex;
  background: #bbb;
  height: 40px;

  width: 100%;
  background: #bbb;
  overflow: hidden;
  border-radius: 20px;
  justify-content: space-between;
  border: 2px solid transparent;
  &:focus-within {
    border: 2px solid #1976d2;
  }

  & :global(.input) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: red;

    svg {
      margin: 0 10px;
    }
  }

  & input {
    height: 100%;
    flex-grow: 1;
  }

  & button {
    border-radius: 20px;
    padding: 0 20px;
    background-color: #1976d2;
    color: white;
    border: none;
  }
}


.searchDetail {
  width: 100%;
  height: 400px;
  background: #c67c7c;
}